body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightseagreen ;
    background-image: url('https://source.unsplash.com/1600x900/?cloud');
    font-size: 120%;
    animation: iconanimation 6s;
}

@keyframes iconanimation{
    from{
        transform: scale(0.5,0.5);
    }to{
        transform: scale(1,1)
    }
}
